version: "3.9"

services:
  mariadb:
    environment:
      - MARIADB_DATABASE=matomo
      - MARIADB_PASSWORD=password
      - MARIADB_ROOT_PASSWORD=secretpassword
      - MARIADB_USER=user
    image: mariadb:latest

  matomo:
    build:
      context: .
      secrets:
        - matomo_license_key
    ports:
      - "80:80"
    environment:
      - MATOMO_DATABASE_HOST=mariadb
      - MATOMO_DATABASE_USERNAME=user
      - MATOMO_DATABASE_PASSWORD=password
      - MATOMO_DATABASE_DBNAME=matomo
      - MATOMO_TRUSTED_HOSTS=localhost
      - MATOMO_PLUGINS=CustomReports
    depends_on:
      - mariadb
    healthcheck:
      test: ["CMD", "/tmp/healthcheck.sh"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s

secrets:
  matomo_license_key:
    environment: MATOMO_LICENSE_KEY
